apiVersion: v1
kind: Service
metadata:
  name: {{ include "continuum.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "continuum.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  {{- if .Values.service.sessionAffinity }}
  sessionAffinity: {{ .Values.service.sessionAffinity }}
  sessionAffinityConfig:
    {{- toYaml .Values.service.sessionAffinityConfig | nindent 4 }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "continuum.selectorLabels" . | nindent 4 }}
